version: '3.7'

services:
  fusion-config:
    image: fusion/fusion-config:0.0.1-SNAPSHOT
    ports:
      - "8071:8071"
    environment:
      - spring.profiles.active=git
      - encrypt.key=${ENCRYPT_KEY}

  fusion-discovery:
    image: fusion/fusion-discovery:0.0.1-SNAPSHOT
    ports:
      - "8070:8070"
    depends_on:
      - fusion-config
    environment:
      - spring.config.import=configserver:http://fusion-config:8071
      - encrypt.key=${ENCRYPT_KEY}

  fusion-web:
    image: fusion/fusionweb:0.0.1-SNAPSHOT
    ports:
      - "8081:8081"
    volumes:
      - type: bind
        source: /Users/sadatmalik/Desktop/java-projects/Fusion/certs/qwac.pfx
        target: /Users/sadatmalik/Desktop/java-projects/Fusion/certs/qwac.pfx
      - type: bind
        source: /Users/sadatmalik/Desktop/java-projects/Fusion/certs/server_pkcs8_key.der
        target: /Users/sadatmalik/Desktop/java-projects/Fusion/certs/server_pkcs8_key.der
    environment:
      - spring.profiles.active=qa
      - spring.config.import=configserver:http://fusion-config:8071
      - spring.datasource.url=jdbc:mysql://host.docker.internal:3308/fusion_db?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - encrypt.key=${ENCRYPT_KEY}

