<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments::header"/>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">

        <div th:replace="fragments::sidebar"/>

        <div id="content-body" class="col-12 col-md-9 col-xl-10 pl-4 pr-4 bd-content">

            <div class="row align-items-center">
                <div class="col-md-12 pt-4 mt-3">
                    <h1>Connect Your Accounts</h1>
                </div>
            </div>

            <div th:replace="fragments::add-account-summary"/>

            <div class="col-xl-6">
                <table border="1" cellpadding="10" class="table table-dark">
                    <thead>
                        <tr class="bg-light">
                            <th>Bank</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a th:href="@{'/add-account/hsbc'}">HSBC</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div> <!-- end container-fluid-->

</body>
</html>