<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments::header"/>
</head>
<body>
<div class="container">
  <div class="row">

    <div th:replace="fragments::sidebar"/>

    <div class="col-10">
      <div th:replace="fragments::nav"/>
      <br/>
      <h3 th:text="${totalBalance}">Total Balance</h3>
      <table border="1" cellpadding="10" class="table bg-white">
        <thead>
        <tr class="bg-light">
          <th>Bank</th>
          <th>Account</th>
          <th>Name</th>
          <th>Balance</th>
          <th>Currency</th>
          <th>Type</th>
          <th>SubType</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accountList}">
          <td th:text="${account.getBank()}">Bank</td>
          <td th:text="${account.getAccountId()}">Account ID</td>
          <td th:text="${account.getAccountInfo().get(0).getName()}">Account ID</td>
          <td th:text="${account.getBalance().getDisplayAmount()}">Balance</td>
          <td th:text="${account.getCurrency()}">Currency</td>
          <td th:text="${account.getType()}">Type</td>
          <td th:text="${account.getSubType()}">SubType</td>
          <td th:text="${account.getDescription()}">Description</td>
          <td>
            <!-- actions -->
            <a th:href="@{'/transactions/' + ${account.getAccountId()}}">Transactions</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- end container-fluid-->
</body>
</html>