<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <div th:fragment="header">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Fusion Web</title>

        <!-- Bootstrap CSS -->
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
<!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

        <!-- app css -->
        <link rel="stylesheet" th:href="@{/css/app.css}"/>
    </div>

    <div th:fragment="googlecharts">
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" th:inline="javascript">
            // Load the Visualization API and the corechart package
            google.charts.load('current', {'packages':['corechart']});
            // load the new material design bar package
            google.charts.load('current', {'packages':['bar']});

            // Set a callback to run when the Google Visualization API is loaded
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawPayments);
            google.charts.setOnLoadCallback(drawReceipts);
            google.charts.setOnLoadCallback(drawDebts);

            // Callback that creates and populates a data table,
            // instantiates the chart, passes in the data and
            // draws it
            function drawChart() {
                var data = google.visualization.arrayToDataTable([[${chartData}]]);

                // Set chart options
                var options = {
                    // title: 'Spending Graph',
                    hAxis: {title: 'Date',
                        titleTextStyle: {color: '#FDFDFD'},
                        textStyle: { color: '#FDFDFD' },
                        maxAlternation: 1,
                        showTextEvery: 7
                    },
                    vAxis: {minValue: 0,
                        textStyle: { color: '#FDFDFD' },
                        gridlines: { color: 'darkslategray', minSpacing: 50},
                        minorGridlines: { color: 'darkslategray'}
                    },
                    height: 350,
                    pointSize: 3,
                    backgroundColor: 'transparent',
                    fontName: 'Nunito Sans Regular',
                    colors:['#58e2c1'],
                    legend: {position: 'none'},
                    tooltip: {
                        textStyle: {color: 'darkslategray', fontName: 'Nunito Sans Regular'}
                    }
                    // animation: {startup: true, duration: 100}
                };

                // Instantiate and draw our chart, passing in some options
                var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
            function drawPayments() {
                var data = google.visualization.arrayToDataTable([[${paymentChartData}]]);

                var options = {
                    width: 600,
                    height: 350,
                    hAxis: {
                        titleTextStyle: {color: '#FDFDFD'},
                        textStyle: { color: '#FDFDFD' },
                        gridlines: { color: 'darkslategray', minSpacing: 50},
                        minorGridlines: { color: 'darkslategray'}
                    },
                    vAxis: {minValue: 0,
                        textStyle: { color: '#FDFDFD' }
                    },
                    legend: { position: 'none', maxLines: 3 },
                    bar: { groupWidth: '75%' },
                    backgroundColor: 'transparent',
                    fontName: 'Nunito Sans Regular',
                    // colors:['#aa25c2', '#9226bf', '#7625b9', '#5e24b6', '#4424b1', '#3123ae'],
                    colors:['#9226bf'],
                    tooltip: {
                        textStyle: {color: 'darkslategray', fontName: 'Nunito Sans Regular'}
                    },
                    isStacked: true
                };

                var chart = new google.visualization.BarChart(document.getElementById("payments_div"));
                chart.draw(data, options);
            }
            function drawReceipts() {
                var data = google.visualization.arrayToDataTable([[${receiptsChartData}]]);

                var options = {
                    width: 600,
                    height: 350,
                    hAxis: {
                        titleTextStyle: {color: '#FDFDFD'},
                        textStyle: { color: '#FDFDFD' },
                        gridlines: { color: 'darkslategray', minSpacing: 50},
                        minorGridlines: { color: 'darkslategray'}
                    },
                    vAxis: {minValue: 0,
                        textStyle: { color: '#FDFDFD' }
                    },
                    legend: { position: 'none', maxLines: 3 },
                    bar: { groupWidth: '75%' },
                    backgroundColor: 'transparent',
                    fontName: 'Nunito Sans Regular',
                    tooltip: {
                        textStyle: {color: 'darkslategray', fontName: 'Nunito Sans Regular'}
                    },
                    colors:['#5e24b6']
                    // isStacked: true
                };

                var chart = new google.visualization.BarChart(document.getElementById("receipts_div"));
                chart.draw(data, options);
            }
            function drawDebts() {
                var data = google.visualization.arrayToDataTable([[${debtChartData}]]);

                var options = {
                    width: 600,
                    height: 350,
                    hAxis: {
                        titleTextStyle: {color: '#FDFDFD'},
                        textStyle: { color: '#FDFDFD' },
                        gridlines: { color: 'darkslategray', minSpacing: 50},
                        minorGridlines: { color: 'darkslategray'},
                        maxAlternation: 1
                    },
                    vAxis: {minValue: 0,
                        textStyle: { color: '#FDFDFD' }
                    },
                    legend: { position: 'none', maxLines: 3 },
                    bar: { groupWidth: '75%' },
                    backgroundColor: 'transparent',
                    fontName: 'Nunito Sans Regular',
                    // colors:['#aa25c2', '#9226bf', '#7625b9', '#5e24b6', '#4424b1', '#3123ae'],
                    colors:['#9226bf'],
                    tooltip: {
                        textStyle: {color: 'darkslategray', fontName: 'Nunito Sans Regular'}
                    },
                    isStacked: true
                };

                var chart = new google.visualization.BarChart(document.getElementById("debts_div"));
                chart.draw(data, options);
            }
        </script>
    </div>
</head>
<body>

<div th:fragment="sidebar" id="nav" class="col-xl-2">
    <div class="col-md-12 col-8">
        <div class="text-sm-left text-md-center logo">
            <!-- react-text: 8 -->
            FUSiON ECONO
            <!-- /react-text -->
            <span id="beta" th:if="${@environment.getActiveProfiles()[0] eq 'dev'}"> DEV</span>
            <span id="beta" th:if="${@environment.getActiveProfiles()[0] eq 'qa'}">  QA-1</span>
            <span id="beta" th:if="${@environment.getActiveProfiles()[0] eq 'qa2'}"> QA-2</span>
            <span id="beta" th:if="${@environment.getActiveProfiles()[0] eq 'prd'}"> BETA</span>
        </div>
    </div>

    <nav class="bd-links collapse" id="bd-docs-nav">
        <ul class="left-options">
            <li class="left-option" id="Quickstats">
                <a th:href="@{'/quickstats'}">QUICKSTATS</a>
            </li>
            <li class="left-option" id="Accounts">
                <a th:href="@{'/dashboard'}">ACCOUNTS</a>
            </li>
            <li class="left-option" id="Transactions">
                <a th:href="@{'/transactions'}">TRANSACTIONS</a>
            </li>
            <li class="left-option" id="IncomeExpenses">
                <a th:href="@{'/income-and-expenses'}">INCOME & EXPENSES</a>
            </li>
            <li class="left-option" id="Goals">
                <a th:href="@{'/#'}">GOALS</a>
            </li>
            <li class="left-option position-absolute bottom-0" id="Signout">
                <a th:href="@{'/logout'}">SIGN OUT</a>
                <p class="copyright">&copy; Fusion Consulting Ltd.<script>document.write(new Date().getFullYear())</script></p>
            </li>
        </ul>
    </nav>

    <script>
        function navHighlight() {
            let url = location.href.split('/');
            if (url.includes('quickstats')) {
                document.getElementById('Quickstats').className += ' active';
            } else if (url.includes('dashboard')) {
                document.getElementById('Accounts').className += ' active';
            } else if (url.includes('transactions')) {
                document.getElementById('Transactions').className += ' active';
            } else if (url.includes('income-and-expenses')) {
                document.getElementById('IncomeExpenses').className += ' active';
            } else if (url.includes('goals')) {
                document.getElementById('Goals').className += ' active';
            }
        }
        navHighlight(); /* active menu link selector */
    </script>

</div>

<div th:fragment="summary" class="row mt-3">
    <div class="col-md-8">
        <ul class="buttonwrapper">
            <li id="title" class="active"><label id="l1">NEXT 18 DAYS</label></li>
            <li id="payments" class=""><label id="l2">PAYMENTS:  £1,256.34</label></li>
            <li id="receipts" class=""><label id="l3">RECEIPTS:  £103.12</label></li>
            <li id="leftover" class=""><label id="l4">LEFTOVER:  £1,093.98</label></li>
        </ul>
    </div>
    <div class="col-md-4 text-right date-indicator" id="date" th:text="${date}">February, 21st 2022</div>
</div>

<div th:fragment="account-summary" class="row mt-3">
    <div class="col-md-8 account-summary">
        <ul class="buttonwrapper">
            <a th:href="@{'/add-account/'}">
                <li id="add" class="active"><label id="l1">ADD NEW ACCOUNT</label></li>
            </a>
            <li id="balance1" class=""><label id="l2">HSBC BALANCE:  £2,247.20</label></li>
        </ul>
    </div>
    <div class="col-md-4 text-right date-indicator" id="date" th:text="${date}">February, 21st 2022</div>
</div>

<div th:fragment="add-account-summary" class="row mt-3">
    <div class="col-md-8 add-account-summary">
        <ul class="buttonwrapper">
            <li id="choose" class="active"><label id="l1">CHOOSE PROVIDER</label></li>
            <li id="permission" class=""><label id="l2">PERMISSIONS</label></li>
            <li id="connect" class=""><label id="l3">CONNECT</label></li>
        </ul>
    </div>
</div>

<div th:fragment="account-txn-summary" class="row mt-3">
    <div class="col-md-8 account-summary">
        <ul class="buttonwrapper">
            <a th:href="@{'/dashboard/'}">
                <li id="back" class="active"><label id="l1">BACK TO ACCOUNTS</label></li>
            </a>
            <li id="refesh" class=""><label id="l2">REFRESH</label></li>
        </ul>
    </div>
</div>

<div th:fragment="txn-summary" class="row mt-4">
    <div class="col-md-8 account-summary">
        <ul class="buttonwrapper">
            <a th:href="@{'/dashboard/'}">
                <li id="back" class="active"><label id="l1">VIEW BY ACCOUNTS</label></li>
            </a>
            <li id="refesh" class=""><label id="l2">REFRESH</label></li>
            <li id="refesh" class=""><label id="l3">EXPORT CSV</label></li>
        </ul>
    </div>
</div>

<div th:fragment="add-account-permissions-summary" class="row mt-3">
    <div class="col-md-8 add-account-summary">
        <ul class="buttonwrapper">
            <li id="choose"><label id="l1">CHOOSE PROVIDER</label></li>
            <li id="permission" class="active"><label id="l2">PERMISSIONS</label></li>
            <li id="connect" class=""><label id="l3">CONNECT</label></li>
        </ul>
    </div>
</div>

<div th:fragment="expense-summary" class="row mt-3">
    <div class="col-md-8 expense-summary">
        <ul class="buttonwrapper">
            <li id="expense" class="active"><label id="l1">EXPENSES: £1,762.34</label></li>
            <li id="paid" class=""><label id="l1">PAID: £340</label></li>
            <li id="pending" class=""><label id="l1">PENDING: £340</label></li>
        </ul>
    </div>
</div>

<div th:fragment="income-summary" class="row mt-3">
    <div class="col-md-8 income-summary">
        <ul class="buttonwrapper">
            <li id="income" class="active"><label id="l1">INCOME: £4,283.19</label></li>
            <li id="received" class=""><label id="l1">RECVD: £1,865</label></li>
        </ul>
    </div>
</div>

</body>
</html>