<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments::header"/>
  <div th:replace="fragments::googlecharts"/>
</head>
<body>

<div class="container-fluid">

  <div class="row flex-xl-nowrap">

    <div th:replace="fragments::sidebar"/>

    <div id="content-body" class="col-12 col-md-9 col-xl-10 pl-4 pr-4 bd-content">

      <div class="row">
        <div class="col-md-12 pt-4 mt-3">
          <h1 th:text="${totalBalance}">Total Balance</h1>
        </div>
      </div>

      <div class="row mt-3 db-chart">

        <div id="parent1" class="col-lg-6 col-xl-8"> <!-- spending graph -->
          <div class="chart-card mb-4">
            <div class="chart-title" id="text1">SPENDING GRAPH</div>
            <div id="chart_div" class="chart"></div>
          </div>
        </div>

        <div id="parent2" class="col-lg-6 col-xl-4" style="display: block; height: auto;"> <!-- remaining month days summary -->
          <div class="chart-card mb-4">
            <div class="chart-title" id="text2">NEXT 18 DAYS</div>
            <div id="chart2" class="chart">
              <!-- todo make this a table -->
              <p>Balance: <strong>£2,247.20</strong></p>
              <p>Payments <strong>£1,256.34</strong></p>
              <p>Receipts: <strong>£103.12</strong></p>
              <p>Leftover: <strong>£1,093.98</strong></p>
            </div>
          </div>
        </div>



<!--        <div class="col-10"> &lt;!&ndash; spending graph &ndash;&gt;-->
<!--          <h6>Spending Graph</h6>-->
<!--          <div id="chart_div" style="width:100%"></div>-->
<!--        </div>-->

<!--        <div class="col-2"> &lt;!&ndash; remaining month days summary &ndash;&gt;-->
<!--          <h6>Next 18 days</h6>-->

<!--        </div>-->

      </div>

      <br/>

      <div class="row">

        <div class="col-6"> <!-- scheduled payments -->
          <h6>Scheduled payments</h6>
        </div>

        <div class="col-6"> <!-- scheduled receipts -->
          <h6>Scheduled receipts</h6>
        </div>

      </div>

    </div>

  </div>

</div> <!-- end container-fluid-->

</body>
</html>