<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments::header"/>
  <div th:replace="fragments::googlecharts"/>
</head>
<body>

<div class="container-fluid">

  <div class="row flex-xl-nowrap">

    <div th:replace="fragments::sidebar"/>

    <div id="content-body" class="col-12 col-md-9 col-xl-10 pl-4 pr-4 bd-content">

      <div class="row">
        <div class="col-md-12 pt-4 mt-3">
          <h1 th:text="${totalBalance}">Total Balance</h1>
        </div>
      </div>

      <div th:replace="fragments::summary"/>

      <div class="row mt-3 db-chart">

        <!-- spending graph -->
        <div id="parent1" class="col-lg-6 col-xl-12" style="display: inline; height: auto;">
          <div class="chart-card mb-4">
            <div class="chart-title" id="text1">9 Feb - 8 Mar 2022</div>
            <div id="chart_div" class="chart"></div>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- scheduled payments -->
        <div id="parent2" class="col-lg-6 col-xl-6" style="display: block; height: auto;">
          <div class="chart-card mb-4">
            <div class="chart-title" id="text2">Scheduled payments</div>
            <div id="chart2" class="chart">

            </div>
          </div>
        </div>

        <!-- scheduled receipts -->
        <div id="parent4" class="col-lg-6 col-xl-6" style="display: block; height: auto;">
          <div class="chart-card mb-4">
            <div class="chart-title" id="text4">Scheduled receipts</div>
            <div id="chart4" class="chart">

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div> <!-- end container-fluid-->

</body>
</html>